@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@700&family=Nosifer&family=Poppins:wght@300&display=swap");

@keyframes successAnimation {
  0% {
    transform: rotate(-360deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.success {
  height: 24%;
  width: 10%;
  animation: successAnimation 2.1s ease-in-out infinite alternate;
}

.total-price {
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 80%;
  bottom: 2.5%;
  left: 10%;
  right: 10%;
  background-color: maroon;
  padding: 0.5% 1%;
  color: #ffffff;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}

.total-price p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  cursor: pointer;
}

.cart-con {
  margin-top: 5%;
  height: 82.5%;
  width: 100%;
  overflow: hidden;
}

.cart-con2 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-con2 > h1 {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: maroon;
}

.cart-con2 > h1 > img {
  width: 20%;
}

.cart-con2 > button {
  border: 0;
  padding: 1% 2%;
  border-radius: 0.35rem;
  background-color: maroon;
  color: #ffffff;
  margin-top: 5%;
  cursor: pointer;
}

.cart-con2 > button:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}

.cart-con > h2 {
  font-family: "Poppins", sans-serif;
  color: maroon;
  margin-left: 5%;
}

.delete-button {
  position: absolute;
  right: 20%;
  bottom: 7%;
  color: maroon;
  background-color: transparent;
  border: 0;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.items-data-cart {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 5%;
  overflow-y: scroll;
}

.food-items {
  position: relative;
  height: auto;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1% 5%;
  margin: 1%;
}

.food-items img {
  height: 20vh;
  width: 40%;
  border-radius: 0.5rem;
}

.item-details {
  font-family: "Poppins", sans-serif;
  width: 50%;
  height: 10%;
  text-transform: capitalize;
}

.item-details > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-details > p {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
  width: 22%;
  align-items: center;
  margin: 2% 0%;
}

.item-details img {
  height: 1rem;
  width: 1rem;
  margin-right: 2%;
}

.button-Add {
  background-color: #ffffff;
  border: 0.1rem solid maroon;
  color: maroon;
  padding: 1% 3%;
  margin-top: 4%;
  border-radius: 0.25rem;
  cursor: pointer;
}

.inc-dec-con {
  padding: 1% 3%;
  margin-top: 0.4%;
}

.button-inc {
  background-color: transparent;
  padding: 1% 4.5%;
  margin: 0% 2%;
  border: none;
  font-size: 1.2rem;
  color: maroon;
  border-radius: 100%;
  cursor: pointer;
}

/**Bill CSS**/

.bill-con {
  position: absolute;
  top: 10%;
  height: 80vh;
  width: 90vw;
  left: 5%;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 0.5rem;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.bill-con-inside {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  padding: 2%;
  color: #222222;
  overflow: hidden;
}

.map-para {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.bill-con > div > h2 {
  color: maroon;
}

.bill-con > div > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 4%;
}

.payment {
  height: 30%;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.payment img {
  width: 25% !important;
}

.payment button {
  height: 30%;
  width: 45%;
  border: 1px solid #22222250;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22222250;
  padding: 0% 3%;
  font-size: 0.7rem;
  filter: blur(2px);
}

#selected {
  height: 30%;
  width: 45%;
  border: 1.5px solid green;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0% 3%;
  font-size: 0.7rem;
  filter: blur(0);
}

.payment img {
  height: 78%;
  width: 22.5%;
}

/**Bill*/

@media screen and (max-width: 600px) {
  .success {
    width: 23% !important;
  }

  .bill-con {
    position: absolute;
    top: 2.5%;
    height: 90vh;
    width: 90vw;
    left: 5%;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    overflow: scroll;
  }

  .payment {
    width: 75%;
  }

  .payment button {
    font-size: 0.5rem !important;
  }

  #cross {
    top: 1% !important;
  }

  .bill-con-inside {
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2%;
    color: #222222;
    overflow: hidden;
  }

  .bill-con-inside > h2 {
    font-size: 0.7rem;
  }

  #placeorder {
    bottom: 1.5% !important;
    padding: 2% 3% !important;
  }

  .bill-con-inside p {
    font-size: 0.6rem;
    margin-top: -1%;
    padding-top: 1 !important;
  }

  .bill-con-inside > p span {
    font-size: 0.55rem;
  }

  #map {
    margin-top: 2%;
    height: 70% !important;
    width: 100% !important;
  }

  .success {
    height: 10%;
    width: 20%;
  }

  .total-price {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: maroon;
    padding: 2% 3%;
    color: #ffffff;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.65rem;
  }

  .cart-con2 > h1 {
    font-size: 2rem;
  }

  .cart-con2 > h1 > img {
    width: 16%;
  }

  .cart-con2 > button {
    border: 0;
    padding: 2% 5%;
    margin-top: 10%;
  }

  .cart-con {
    position: relative;
    margin-top: 7%;
    height: 88%;
  }

  .items-data-cart {
    padding: 0;
    align-content: flex-start;
  }

  .delete-button {
    font-size: 1rem;
    right: 16%;
    bottom: 17%;
  }

  .food-items {
    width: 100%;
    margin-top: 5%;
    margin-left: 4.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .food-items > img {
    height: 14vh;
    width: 50%;
  }

  .item-details {
    padding-left: 5%;
  }

  .item-details > h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .item-details svg {
    font-size: 1.1rem !important;
  }

  .item-details > p {
    font-size: 0.8rem;
  }

  .item-details > div img {
    height: 8%;
    width: 8%;
  }

  .item-details > div p {
    font-size: 0.9rem;
  }

  .button-Add {
    padding: 1.35% 5%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1025px) and (orientation: landscape) {
  .success {
    height: 30%;
    width: 19.5%;
  }
  .payment {
    width: 95%;
  }
  .cart-con {
    margin-top: 8%;
  }

  .delete-button {
    right: 16%;
    bottom: 13%;
    font-size: 1rem;
  }

  .food-items > img {
    width: 50%;
  }

  .item-details {
    padding-left: 5%;
  }

  .item-details > h5 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) and (orientation: landscape) {
  .items-data-cart {
    padding: 0;
    align-content: flex-start;
  }

  .delete-button {
    right: 25%;
    bottom: 13%;
    font-size: 1rem;
  }

  .food-items > img {
    height: 15vh;
  }
  .item-details > h5 {
    font-size: 0.9rem;
  }
}

@media scree and (min-height: 1022px) and (min-width: 1025px) and (max-width: 1367px) and (orientation: landscape) {
  .payment {
    width: 80%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1400px) and (orientation: portrait) {
  .success {
    height: 10%;
    width: 12%;
  }
  .payment {
    width: 100%;
    height: 20%;
  }
  .total-price {
    padding: 1% 3%;
  }

  .delete-button {
    font-size: 1rem;
    bottom: 12.5%;
  }

  .cart-con {
    position: relative;
    margin-top: 0%;
  }

  .items-data-cart {
    padding: 0;
    align-content: flex-start;
  }

  .food-items > img {
    height: 10vh;
    width: 50%;
  }
  .item-details {
    padding-left: 5%;
  }

  .item-details > h5 {
    font-size: 0.9rem;
  }

  .item-details > p {
    font-size: 0.7rem;
  }
  .item-details > div > p {
    font-size: 0.7rem;
  }
  .item-details > div > img {
    height: 8%;
    width: 8%;
  }

  .ratings {
    width: 28%;
  }

  .ratings > div > img {
    height: 35%;
    width: 35%;
  }
}
