@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@700&family=Nosifer&family=Poppins:wght@300&display=swap");

.footer-con {
  height: auto;
  width: 100%;
  color: #ffffff;
  background-color: #800000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  margin-top: 2%;
}

.footer-con h2 {
  font-family: "Nosifer", dans-serif;
  font-size: 1.6rem;
  margin-bottom: 1%;
}

.footer-con p {
  font-size: 0.9rem;
  margin-top: 1%;
  max-width: 30%;
  text-align: center;
}

.icons-con {
  width: 20%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
  .footer-con p {
    max-width: 100%;
  }

  .icons-con {
    margin-top: 5%;
    margin-bottom: 6%;
    width: 70%;
  }
}
