@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
  width: 0.25rem; /* Set the width of the scrollbar */
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; /* Set the height to occupy the full container height */
}

::-webkit-scrollbar-thumb {
  background-color: #800000; /* Set the thumb color */
}
